
.nameForMobile{
    display: none;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #3e4156;
    height: 5em;
}

.nameCompanyDeskTop{

    line-height: 2em;


    img{
        width: 5%;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0.2em

    }

    p{
        display: inline-block;
        color: white;
        font-weight: bold;
        // vertical-align: bottom;
        padding: 0.2em;
        margin-left: 1em;


        :nth-child(1){
            text-transform: capitalize;
        }
        :nth-child(2){
            text-transform: capitalize;
        }

        :nth-child(3){
            text-transform: capitalize;
        }
        :nth-child(5){
            text-transform: capitalize;
        }
        
    }
}

.nameCompanyForMobile{

    

    line-height: 2em;


    img{
        width: 6%;
        display: inline-block;
        vertical-align: middle;

    }

    p{
        display: inline-block;
        color: rgb(37, 34, 34);
        font-weight: bold;
        padding: 0.2em;
        margin-left: 1em;

        :nth-child(1){
            text-transform: capitalize;
        }
        :nth-child(2){
            text-transform: uppercase;
        }

        :nth-child(3){
            text-transform: capitalize;
        }
    }
}


@media only screen and (min-width : 280px) and (max-width : 479px){

	

}

@media only screen and (min-width : 480px) and (max-width : 629px){

	


}

@media only screen and (min-width : 630px) and (max-width : 767px){

   



}

@media only screen and (min-width : 767px) and (max-width : 849px) {


    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%}


    .nameCompanyDeskTop{

        line-height: 1em;
    
    
        img{
            margin-top:2px;
            width: 5%;
            margin-bottom: 0.2em
    
        }
    
        p{
            padding: 0.2em;
            margin-left: 1em;
            font-size: 10px;
        }
    }

}

@media screen and (min-width: 850px) and (max-width:991px) {

    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%}

    .nameCompanyDeskTop{

        line-height: 1em;
    
    
        img{
            margin-top:2px;
            width: 5%;
            margin-bottom: 0.2em
    
        }
    
        p{
            padding: 0.2em;
            margin-left: 1em;
            font-size: 10px;
        }
    }

}

@media screen and (min-width : 991px) and (max-width : 1023px){

	.container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%}

    .nameCompanyDeskTop{

        line-height: 2em;
    
    
        img{
            margin-top:2px;
            width: 5%;
            margin-bottom: 0.2em
    
        }
    
        p{
            padding: 0.2em;
            margin-left: 1em;
            font-size: 14px;
        }
    }

}

@media only screen and (min-width : 1024px) and (max-width : 1199px){

	.container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%}

    
}

@media only screen and (min-width : 1199px) and (max-width : 1379px){

	.container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%}

    
}

@media only screen and (min-width : 1379px) and (max-width : 1920px){

	.container .cols.col-1{width: 8.333333333333333%;}
	.container .cols.col-2{width: 16.66666666666667%;}
	.container .cols.col-3{width: 25%;}
	.container .cols.col-4{width: 33.33333333333333%;}
	.container .cols.col-5{width: 41.66666666666667%;}
	.container .cols.col-6{width: 50%;}
	.container .cols.col-7{width: 58.33333333333333%;}
	.container .cols.col-8{width: 66.66666666666667%;}
	.container .cols.col-9{width: 75%;}
	.container .cols.col-10{width: 83.33333333333333%;}
	.container .cols.col-11{width: 91.66666666666667%;}
	.container .cols.col-12{width: 100%}

	
    

}





