
@media only screen and (min-width : 280px) and (max-width : 479px){
    

    .nameForMobile{display: block;}
    .nameCompanyDeskTop{display: none;}
    .addressPanel{display: none;}

    .mainImage{

    
        .baner-text {
            font:1em verdana;
            width: 90%;
            
            h2{
                font-size: 1em;
                line-height: 1em;
            }
        
            p{
                font-size: 1em;
                font-style: italic;
            }
        }
    }

    // заголовки всех разделов 
    .headlines h2{
        margin-top:1em;
        margin-bottom: 0.5em;
        font-size: 2.5em;
        width: 80%;
        display: inline-block;
        color: #1C65D4;
    }

    
    
    
   

    // раздел "контакты "

    .contacts{

        .googleMaps{
            margin-bottom: 2em;
        }

        iframe.maps{
            width: 90%;
        }
         
        .adress{
            width: 90%;
    
            h2{
                font-size: 1.6em;
            }
    
            p{
                font-size: 1.3em;
            }
            
            .telephoneNumber{
                margin-bottom: 1em;
            }
    
            i.fa-phone{
                transform: rotate(160deg);
            }
          
        }
        
    }

    // footer
    .footer{
        margin-top:2em;
        height:2em;
    }
    
    
    
    
    
    
    
}

	
